.tagSection {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin: 100px auto;
  // justify-content: flex-start;
  width: 80%;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.tagBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 500px;
  margin-top: 10%;
}

.tag {
  border: none;
  height: 30px;
  border-radius: 5px;
  background-color: #4d00ce;

  color: white;
}
.tagInput {
  width: 50%;
  height: 30px;
}
